@{
    ViewBag.Title = "Personal";
}


<br>
<h3>Personal details:</h3>
   Address: Bashundhara,Dhaka
<br>
     Date of birth: 20 February 2000
<br>
<h3>Skills :</h3>

<ul>
    <li>
        In-depth knowledge about Dynamic Programming and Graph
    </li>
    <li>
        Solve more than 1500 problems in different online judge like Codeforces, Codechef, Uva, Hackerrank
    </li>
    <li>In-depth knowledge in Algorithm and Data structure</li>
    <li>Good knowledge of  .Net, Java,C, C++, Object Oriented Programming, Python</li>
    <li>Experience in complex test cases and excellent debugging skills</li>
    <li>Good at both Speaking and writing in English</li>
</ul>
<br>

<h3>Interests:</h3>
Solving critical problems, Learning a new skill, Designing and development websites