@{
    ViewBag.Title = "Project";
}


<center>
    <form>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course</th>
                    <th scope="col">Project Title</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Introductio To Database</td>
                    <td>Flying Management System</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>C#</td>
                    <td>Fellowship Finder</td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Web Technologies</td>
                    <td>GHoreBaire a successful E-commerce</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>ATP2</td>
                    <td>Spades Grocery</td>
                </tr>

            </tbody>


        </table>
    </form>
</center>